body{
    margin: 0;
    padding: 0;
}
#main_mask{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
#top_wrap{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
#login_wrap{
    width: 1200px;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}
.join{
    margin-left: 30px;
}
#menu{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}
.img_wrap{
    width: 250px;
    height: 80px;
}
.img_wrap img{
    max-width: 250px;
    max-height: 80px;
}
.menu_wrap{
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: flex;
    font-size: 25px;
    font-weight: 800;
}
.menu_list{
    display: inline;
    float: left;
    margin-left: 70px;
}
#content_wrap{
    width: 100%;
    height: 500px;
    background-color: #f2ffed;
    border-top: 3px solid #ebebeb;
    border-bottom: 3px solid #ebebeb;
}
#content_item{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
}
.content_img{
    width: 1000px;
    height: 400px;
}
.content_img img{
    width: 1000px;
    height: 400px;
    margin-top: 50px;
}
.content_menu{
    width: 200px;
    height: 500px;
}
.care{
    width: 150px;
    height: 150px;
    background-color: #ffd942;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 150px;
    text-align: center;
}
.care img{
    max-width: 130px;
    max-height: 130px;
    margin-top: 10px;
}
.care_text{
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
}
.mission{
    width: 150px;
    height: 150px;
    background-color: #ffa168;
    margin: 0 auto;
    border-radius: 150px;
    text-align: center;
    margin-top: 10px;
}
.mission img{
    max-width: 110px;
    max-height: 110px;
    margin-top: 15px;
}
.mission_text{
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
}
#bottom_wrap{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}
.category{
    height: 50px;
    font-size: 22px;
    font-weight: 800;
}
.category_list{
    width: 1200px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.list_item{
    width: 120px;
    height: 160px;
}
.list_img{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-color: #466c88;
    text-align: center;
}
.list_img img{
    max-width: 100px;
    max-height: 100px;
    margin-top: 20px;
}
.list_text{
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
}
.login:hover{
    cursor: pointer;
}
.join:hover{
    cursor: pointer;
}
img:hover{
    cursor: pointer;
}
.menu_list:hover{
    cursor: pointer;
}
.list_text:hover{
    cursor: pointer;
}
.list_img:hover{
    cursor: pointer;
}
.care:hover, .care_text:hover{
    cursor: pointer;
}
.mission:hover, .mission_text:hover{
    cursor: pointer;
}