body{
    margin: 0;
    padding: 0;
}
#main_mask{
    width: 100%;
    height: auto;
}
#main_wrap{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}
#top_wrap{
    width: 1200px;
    height: 100px;
    display: flex;
}
#logo{
    width: 300px;
    height: 100px;
}
.logo_img{
    width: 300px;
    height: 100px;
}
.logo_img a{
    width: 300px;
    height: 100px;
}
.logo_img img{
    margin-top: 10px;
    max-width: 300px;
}
#top_img_wrap{
    width: 900px;
    height: 100px;
}
.top_img{
    width: 900px;
    height: 100px;
}
.top_img img{
    width: 900px;
    height: 100px;
}
#middle_wrap{
    width: 1200px;
    height: 700px;
    display: flex;
}
#side_wrap{
    width: 300px;
    height: 700px;
}
.login_wrap{
    width: 260px;
    height: auto;
    margin: 20px auto;
}
.input_wrap{
    width: 260px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
}
.input_wrap input{   
    width: 170px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    background-color: gainsboro;
    margin: 0;
    padding: 0;
}
.title{
    height: 30px;
    line-height: 30px;
}
.login_wrap button{
    width: 260px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: #78c341;
    color: white;
    margin-bottom: 10px;
}
.join_wrap{
    display: flex;
    justify-content: space-between;
}
#middle_area{
    width: 900px;
    height: 700px;
}
.menu_wrap{
    width: 260px;
    height: auto;
    margin: 0 20px;
}
.menu_bt button{
    width: 260px;
    height: 50px;
    margin-bottom: 10px;
    background-color: #78c341;
    border: 0;
    border-radius: 10px;
    font-size: 30px;
    color: white;
}
.menu_bt button:hover{
    cursor: pointer;
}
.center_img{
    width: 600px;
    height: 400px;
    background-color: cornflowerblue;
    margin: 0 auto;
    margin-top: 20px;
}
.center_img img{
    max-width: 600px;
}
.join_wrap div a{
    text-decoration: none;
    color: black;
}