body{
    margin: 0;
    padding: 0;
}
#main_mask{
    width: 100%;
    height: auto;
}
#main_wrap{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    display: flex;
}
.main_side{
    width: 300px;
    height: 800px;
}
#top_wrap{
    width: 1200px;
    height: 100px;
}
#logo{
    width: 300px;
    height: 100px;
}
.logo_img{
    width: 300px;
    height: 100px;
}
.logo_img img{
    margin-top: 10px;
    max-width: 300px;
}
#top_img_wrap{
    width: 900px;
    height: 100px;
}
.top_img{
    width: 900px;
    height: 100px;
}
.top_img img{
    width: 900px;
    height: 100px;
}
#middle_wrap{
    width: 300px;
    height: 700px;
}
#side_wrap{
    width: 300px;
    height: 700px;
}
.login_wrap{
    width: 260px;
    height: 100px;
    margin: 20px auto;
    background-color: #78c341;
    border-radius: 10px;
    padding-top: 5px;
}
.login_wrap div{
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
.input_wrap{
    width: 260px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
}
.input_wrap input{   
    width: 170px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    background-color: #999;
    margin: 0;
    padding: 0;
}
.title{
    height: 30px;
    line-height: 30px;
}
.login_wrap button{
    width: 260px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: #78c341;
    color: white;
    margin-bottom: 10px;
}
.join_wrap{
    display: flex;
    justify-content: space-between;
}
#middle_area{
    width: 900px;
    height: 800px;
    display: flex;
}
.menu_wrap{
    width: 260px;
    height: auto;
    margin: 0 20px;
}
.menu_bt button{
    width: 260px;
    height: 50px;
    margin-bottom: 10px;
    background-color: #78c341;
    border: 0;
    border-radius: 10px;
    font-size: 30px;
    color: white;
}
.menu_bt button:hover{
    cursor: pointer;
}
.center_img{
    width: 250px;
    height: 400px;
    margin: 0 auto;
    margin-top: 110px;
}
.center_img img{
    width: 250px;
    height: 200px;
}
.img_title{
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
}
.img_os, .img_spec, .img_use{
    margin-top: 10px;
}