@charset "utf-8";

#wrap{
    position: relative;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    box-sizing: border-box;
}
.input_wrap{
    display: flex;
    justify-content: space-around;
    height: 50px;
}

#add{
    float: right;
}

#num_wrap div{
    display: flex;
    height: 30px;
}
#num_wrap div h4{
    width: 33.3%;
}